// imports
// @forward pour partager même les enfants du parent importé
// @use pour partager les variables par exemple et éviter de devoir les préfixer
// components
@forward 'components/header.scss';
// variables
@use 'variables' as *;

// scss
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $title;
}

body {
  font-family: $body;
  background-color: $white;
  color: $black;
}

p {
  font-family: $text;
}

.just-a {
  color: $red;
}

.log-button-white {
  color: $white;
  font-size: 1.2rem;
  font-family: $body;
  &:hover {
    transition:
            transform 200ms ease-in-out,
            color 200ms ease-in-out;
    transform: scale(1.01);
    color: $red;
  }
}
.log-button-black {
   color: $black;
   font-size: 1.2rem;
   font-family: $body;
   &:hover {
     transition:
             transform 200ms ease-in-out,
             color 200ms ease-in-out;
     transform: scale(1.01);
     color: $red;
   }
 }
