// variables
@use '../../variables' as *;

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  &__title {
    font-family: $title;
    color: $grey;
  }
  &__text {
    font-family: $text;
    color: $grey;
  }
}
